In [4]:
TARGET_DATE = "2021-11-5"

In [5]:
# 기본 모듈 로드
import pandas as pd
from marcap import marcap_data
import matplotlib.pyplot as plt

In [6]:
basic = pd.read_csv("marcap/financial_statement/basic-211102.csv", dtype={"Code": object})
profit = pd.read_csv("marcap/financial_statement/profit-211102.csv", dtype={"Code": object})

In [7]:
basic

      Unnamed: 0    Code         Assets    Liabilities         Equity
0              0  095570  1358211005707  1056271592494   301939413213
1              1  006840  4305602849016  3151413655020  1154189193996
2              2  054620   280678269482   112218976542   168459292940
3              3  265520   382682581201   221683489455   160999091746
4              4  027410  1674337781398   121646081659  1552691699739
...          ...     ...            ...            ...            ...
1745        1745  010240   115341383393    34903276473    80438106920
1746        1746  189980   119984297498    47644909663    72339387835
1747        1747  003280   280809830426   162952697123   117857133303
1748        1748  037440   164351914305   105979622150    58372292155
1749        1749  238490    94338517925    20819960948    73518556977

[1750 rows x 5 columns]

In [8]:
profit

      Unnamed: 0    Code       Profit
0              0  095570  14507279034
1              1  006840  21527541547
2              2  054620   1014064006
3              3  265520  11321929497
4              4  027410   4368306885
...          ...     ...          ...
1745        1745  010240   2888326073
1746        1746  189980   1987636231
1747        1747  003280  41002163590
1748        1748  037440    953464712
1749        1749  238490    387990389

[1750 rows x 3 columns]

In [9]:
m = marcap_data(TARGET_DATE)
m

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChangesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank
Date,,,,,,,,,,,,,,,,,
2021-11-05,005930,삼성전자,KOSPI,NaN,70200.0,2,-400.0,-0.57,71600.0,71600.0,70200.0,12667743.0,8.938246e+11,4.190787e+14,5.969783e+09,STK,1
2021-11-05,000660,SK하이닉스,KOSPI,NaN,107000.0,1,1000.0,0.94,108000.0,108500.0,105500.0,2523345.0,2.703814e+11,7.789625e+13,7.280024e+08,STK,2
2021-11-05,035420,NAVER,KOSPI,NaN,410500.0,2,-1000.0,-0.24,411500.0,415000.0,405000.0,309468.0,1.264954e+11,6.743012e+13,1.642634e+08,STK,3
2021-11-05,035720,카카오,KOSPI,NaN,128500.0,2,-1500.0,-1.15,131000.0,131000.0,126500.0,2810726.0,3.608969e+11,5.722893e+13,4.453613e+08,STK,4
2021-11-05,207940,삼성바이오로직스,KOSPI,NaN,864000.0,2,-1000.0,-0.12,865000.0,873000.0,850000.0,48988.0,4.200024e+10,5.716656e+13,6.616500e+07,STK,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-05,270210,에스알바이오텍,KONEX,일반기업부,4305.0,2,-45.0,-1.03,4305.0,4305.0,4305.0,1.0,4.305000e+03,3.473308e+09,8.068080e+05,KNX,2588
2021-11-05,245450,씨앤에스링크,KONEX,일반기업부,2190.0,2,-5.0,-0.23,2190.0,2190.0,2190.0,1.0,2.190000e+03,3.460112e+09,1.579960e+06,KNX,2589
2021-11-05,001529,동양3우B,KOSPI,NaN,37500.0,2,-400.0,-1.06,38700.0,38900.0,36550.0,3623.0,1.380167e+08,3.364575e+09,8.972200e+04,STK,2590
2021-11-05,329020,오션스톤,KONEX,일반기업부,2500.0,3,0.0,0.00,2400.0,2700.0,2135.0,830.0,1.840335e+06,2.000000e+09,8.000000e+05,KNX,2592
2021-11-05,267810,앙츠,KONEX,일반기업부,1185.0,2,-175.0,-12.87,1495.0,1495.0,1185.0,101.0,1.199950e+05,1.833195e+09,1.547000e+06,KNX,2593

In [10]:
codes = basic['Code'].unique()
len(codes)

1750

In [16]:
data = list()
for code in codes:
    mc = m[m['Code'] == code]
    bc = basic[basic['Code'] == code]
    pc = profit[profit['Code'] == code]
    try:
        data.append([code, mc['Name'].iloc[0], mc['Close'].iloc[0], mc['Stocks'].iloc[0], mc['Marcap'].iloc[0], bc['Assets'].iloc[0], bc['Liabilities'].iloc[0], bc['Equity'].iloc[0], pc['Profit'].iloc[0]])
    except Exception as e:
        print(e, code)
        pass

single positional indexer is out-of-bounds 056730
single positional indexer is out-of-bounds 056000
single positional indexer is out-of-bounds 099520
single positional indexer is out-of-bounds 078590
single positional indexer is out-of-bounds 017670
single positional indexer is out-of-bounds 038340
single positional indexer is out-of-bounds 114190
single positional indexer is out-of-bounds 223310
single positional indexer is out-of-bounds 035290
single positional indexer is out-of-bounds 091970
single positional indexer is out-of-bounds 031390
single positional indexer is out-of-bounds 065560
single positional indexer is out-of-bounds 126870
single positional indexer is out-of-bounds 006580
single positional indexer is out-of-bounds 033430
single positional indexer is out-of-bounds 060300
single positional indexer is out-of-bounds 127160
single positional indexer is out-of-bounds 014100
single positional indexer is out-of-bounds 213090
single positional indexer is out-of-bounds 064520
single positional indexer is out-of-bounds 011300
single positional indexer is out-of-bounds 052190
single positional indexer is out-of-bounds 012600
single positional indexer is out-of-bounds 053110
single positional indexer is out-of-bounds 058530
single positional indexer is out-of-bounds 033790
single positional indexer is out-of-bounds 159910
single positional indexer is out-of-bounds 158310
single positional indexer is out-of-bounds 215600
single positional indexer is out-of-bounds 003620
single positional indexer is out-of-bounds 136510
single positional indexer is out-of-bounds 015540
single positional indexer is out-of-bounds 115530
single positional indexer is out-of-bounds 058220
single positional indexer is out-of-bounds 052770
single positional indexer is out-of-bounds 900100
single positional indexer is out-of-bounds 138360
single positional indexer is out-of-bounds 039230
single positional indexer is out-of-bounds 176440
single positional indexer is out-of-bounds 064510
single positional indexer is out-of-bounds 208860
single positional indexer is out-of-bounds 032790
single positional indexer is out-of-bounds 090740
single positional indexer is out-of-bounds 011690
single positional indexer is out-of-bounds 046970
single positional indexer is out-of-bounds 178780
single positional indexer is out-of-bounds 086250
single positional indexer is out-of-bounds 083470
single positional indexer is out-of-bounds 016670
single positional indexer is out-of-bounds 058450
single positional indexer is out-of-bounds 221610
single positional indexer is out-of-bounds 058420
single positional indexer is out-of-bounds 033340
single positional indexer is out-of-bounds 078650
single positional indexer is out-of-bounds 111820
single positional indexer is out-of-bounds 180400
single positional indexer is out-of-bounds 109070
single positional indexer is out-of-bounds 033110
single positional indexer is out-of-bounds 009730
single positional indexer is out-of-bounds 069110
single positional indexer is out-of-bounds 115180
single positional indexer is out-of-bounds 043590
single positional indexer is out-of-bounds 182690
single positional indexer is out-of-bounds 038160
single positional indexer is out-of-bounds 141020
single positional indexer is out-of-bounds 007630
single positional indexer is out-of-bounds 214270
single positional indexer is out-of-bounds 106080
single positional indexer is out-of-bounds 050540
single positional indexer is out-of-bounds 066110
single positional indexer is out-of-bounds 053660
single positional indexer is out-of-bounds 263920

In [17]:
data[0]

['095570',
 'AJ네트웍스',
 5650.0,
 46822295.0,
 264545966750.0,
 1358211005707,
 1056271592494,
 301939413213,
 14507279034]

In [18]:
df = pd.DataFrame(data, columns = ['Code', 'Name', 'Close', 'Stocks', 'Marcap', 'Assets', 'Liabilities', 'Equity', 'Profit'])
df

,Code,Name,Close,Stocks,Marcap,Assets,Liabilities,Equity,Profit
0,095570,AJ네트웍스,5650.0,46822295.0,2.645460e+11,1358211005707,1056271592494,301939413213,14507279034
1,006840,AK홀딩스,25450.0,13247561.0,3.371504e+11,4305602849016,3151413655020,1154189193996,21527541547
2,054620,APS홀딩스,16500.0,20394221.0,3.365046e+11,280678269482,112218976542,168459292940,1014064006
3,265520,AP시스템,23550.0,15281421.0,3.598775e+11,382682581201,221683489455,160999091746,11321929497
4,027410,BGF,6060.0,95716791.0,5.800438e+11,1674337781398,121646081659,1552691699739,4368306885
...,...,...,...,...,...,...,...,...,...
1673,010240,흥국,7820.0,12322696.0,9.636348e+10,115341383393,34903276473,80438106920,2888326073
1674,189980,흥국에프엔비,3445.0,38387127.0,1.322437e+11,119984297498,47644909663,72339387835,1987636231
1675,003280,흥아해운,3195.0,240424899.0,7.681576e+11,280809830426,162952697123,117857133303,41002163590
1676,037440,희림,6620.0,13922475.0,9.216678e+10,164351914305,105979622150,58372292155,953464712
1677,238490,힘스,9680.0,11312236.0,1.095024e+11,94338517925,20819960948,73518556977,387990389

In [19]:
df['P/E'] = df["Marcap"] / df["Equity"]
df

,Code,Name,Close,Stocks,Marcap,Assets,Liabilities,Equity,Profit,P/E
0,095570,AJ네트웍스,5650.0,46822295.0,2.645460e+11,1358211005707,1056271592494,301939413213,14507279034,0.876156
1,006840,AK홀딩스,25450.0,13247561.0,3.371504e+11,4305602849016,3151413655020,1154189193996,21527541547,0.292110
2,054620,APS홀딩스,16500.0,20394221.0,3.365046e+11,280678269482,112218976542,168459292940,1014064006,1.997543
3,265520,AP시스템,23550.0,15281421.0,3.598775e+11,382682581201,221683489455,160999091746,11321929497,2.235276
4,027410,BGF,6060.0,95716791.0,5.800438e+11,1674337781398,121646081659,1552691699739,4368306885,0.373573
...,...,...,...,...,...,...,...,...,...,...
1673,010240,흥국,7820.0,12322696.0,9.636348e+10,115341383393,34903276473,80438106920,2888326073,1.197983
1674,189980,흥국에프엔비,3445.0,38387127.0,1.322437e+11,119984297498,47644909663,72339387835,1987636231,1.828100
1675,003280,흥아해운,3195.0,240424899.0,7.681576e+11,280809830426,162952697123,117857133303,41002163590,6.517701
1676,037440,희림,6620.0,13922475.0,9.216678e+10,164351914305,105979622150,58372292155,953464712,1.578947
1677,238490,힘스,9680.0,11312236.0,1.095024e+11,94338517925,20819960948,73518556977,387990389,1.489453

In [20]:
df.sort_values(['P/E'], ascending=[True]).to_csv('PE-211105.csv')

In [21]:
df.sort_values(['P/E'], ascending=[True])

,Code,Name,Close,Stocks,Marcap,Assets,Liabilities,Equity,Profit,P/E
1598,000880,한화,32450.0,74958735.0,2.432411e+12,196177313000000,175753646000000,20423667000000,572100000000,0.119098
290,032190,다우데이타,13800.0,38300000.0,5.285400e+11,43266517340634,38900996883281,4365520457353,222364621289,0.121071
253,005720,넥센,4945.0,53543977.0,2.647750e+11,4310005396201,2220078517427,2089926878774,17493842309,0.126691
42,012630,HDC,10300.0,59741721.0,6.153397e+11,10324680541622,5824617179999,4500063361623,94520049718,0.136740
700,058650,세아홀딩스,111000.0,4000000.0,4.440000e+11,5351824871409,2480106593967,2871718277442,87469932497,0.154611
...,...,...,...,...,...,...,...,...,...,...
758,011930,신성이엔지,2225.0,204022759.0,4.539506e+11,452635245184,248258746604,0,6141969931,inf
154,317240,TS트릴리온,990.0,91084053.0,9.017321e+10,72025003426,50491591314,0,693168658,inf
1561,020000,한섬,43000.0,24630000.0,1.059090e+12,1454685714295,287212194131,0,18739344627,inf
1621,069960,현대백화점,79300.0,23402441.0,1.855814e+12,9180141535000,4087435784000,0,48256215000,inf
1253,082270,젬백스,17550.0,39812863.0,6.987157e+11,170086302930,16829638250,0,9837301665,inf

In [22]:
df['PER'] = df["Marcap"] / df["Profit"]

In [23]:
df

,Code,Name,Close,Stocks,Marcap,Assets,Liabilities,Equity,Profit,P/E,PER
0,095570,AJ네트웍스,5650.0,46822295.0,2.645460e+11,1358211005707,1056271592494,301939413213,14507279034,0.876156,18.235395
1,006840,AK홀딩스,25450.0,13247561.0,3.371504e+11,4305602849016,3151413655020,1154189193996,21527541547,0.292110,15.661353
2,054620,APS홀딩스,16500.0,20394221.0,3.365046e+11,280678269482,112218976542,168459292940,1014064006,1.997543,331.837679
3,265520,AP시스템,23550.0,15281421.0,3.598775e+11,382682581201,221683489455,160999091746,11321929497,2.235276,31.785878
4,027410,BGF,6060.0,95716791.0,5.800438e+11,1674337781398,121646081659,1552691699739,4368306885,0.373573,132.784570
...,...,...,...,...,...,...,...,...,...,...,...
1673,010240,흥국,7820.0,12322696.0,9.636348e+10,115341383393,34903276473,80438106920,2888326073,1.197983,33.363090
1674,189980,흥국에프엔비,3445.0,38387127.0,1.322437e+11,119984297498,47644909663,72339387835,1987636231,1.828100,66.533126
1675,003280,흥아해운,3195.0,240424899.0,7.681576e+11,280809830426,162952697123,117857133303,41002163590,6.517701,18.734561
1676,037440,희림,6620.0,13922475.0,9.216678e+10,164351914305,105979622150,58372292155,953464712,1.578947,96.665124
1677,238490,힘스,9680.0,11312236.0,1.095024e+11,94338517925,20819960948,73518556977,387990389,1.489453,282.229786

In [24]:
df.sort_values(['PER'], ascending=[True]).to_csv('PER-211105.csv')

In [25]:
df.sort_values(['PER'], ascending=[True])

,Code,Name,Close,Stocks,Marcap,Assets,Liabilities,Equity,Profit,P/E,PER
32,007700,F&F홀딩스,40050.0,39114367.0,1.566530e+12,365270573610,58003664226,307266909384,1799860377484,5.098272,0.870362
589,030790,비케이탑스,2980.0,15097060.0,4.498924e+10,130999103818,126139796429,4859307389,24169495783,9.258364,1.861406
1211,219550,디와이디대양,4210.0,7982786.0,3.360753e+10,82047865118,50349272916,31698592202,17723317463,1.060222,1.896232
995,036000,예림당,2640.0,23034277.0,6.081049e+10,893062167966,663676928020,229385239946,31746099349,0.265102,1.915526
290,032190,다우데이타,13800.0,38300000.0,5.285400e+11,43266517340634,38900996883281,4365520457353,222364621289,0.121071,2.376907
...,...,...,...,...,...,...,...,...,...,...,...
967,290650,엘앤씨바이오,34600.0,22684891.0,7.848972e+11,85771891487,8281243320,77490648167,0,10.128928,inf
1204,103590,일진전기,5500.0,37080390.0,2.039421e+11,894389663607,577383250848,317006412759,0,0.643338,inf
151,192410,THQ,3140.0,28929899.0,9.083988e+10,94779232323,55707900376,39071331947,0,2.324975,inf
263,104620,노랑풍선,16150.0,14296950.0,2.308957e+11,89818952039,42655095654,47163856385,0,4.895608,inf
1188,023810,인팩,14500.0,10000000.0,1.450000e+11,339253559437,218134386911,121119172526,0,1.197168,inf