In [7]:
TARGET_DATE = "2021-07-15"

In [2]:
# 기본 모듈 로드
import pandas as pd
from marcap import marcap_data
import matplotlib.pyplot as plt

In [5]:
basic = pd.read_csv("marcap/financial_statement/basic.csv", dtype={"code": object})
basic

      Unnamed: 0    code         assets    liabilities         equity
0              0  095570  1574355448723  1286562699853   287792748870
1              1  006840  4197422025806  3015052766615  1182369259191
2              2  054620   274988067013   107452995977   167535071036
3              3  265520   394328577368   244163437621   150165139747
4              4  027410  1662679703034   127092776980  1535586926054
...          ...     ...            ...            ...            ...
1728        1728  010240   118611338538    41323945028    77287393510
1729        1729  189980    96452991462    26238879519    70214111943
1730        1730  003280   314802020609   328650401196    13848380587
1731        1731  037440   166235344982   108805390993    57429953989
1732        1732  238490    90702216384    16797964698    73904251686

[1733 rows x 5 columns]

In [11]:
m = marcap_data(TARGET_DATE)
m

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChangesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank
Date,,,,,,,,,,,,,,,,,
2021-07-15,005930,삼성전자,KOSPI,NaN,80600.0,1,1100.0,1.38,79800.0,80600.0,79500.0,13766279.0,1.102123e+12,4.811645e+14,5.969783e+09,STK,1
2021-07-15,000660,SK하이닉스,KOSPI,NaN,123500.0,3,0.0,0.00,123500.0,124000.0,122500.0,1500981.0,1.851858e+11,8.990829e+13,7.280024e+08,STK,2
2021-07-15,035420,NAVER,KOSPI,NaN,449000.0,1,5000.0,1.13,446500.0,452500.0,439500.0,950460.0,4.233096e+11,7.375426e+13,1.642634e+08,STK,3
2021-07-15,035720,카카오,KOSPI,NaN,159500.0,2,-2500.0,-1.54,162000.0,162000.0,158500.0,3821843.0,6.099952e+11,7.089141e+13,4.444602e+08,STK,4
2021-07-15,005935,삼성전자우,KOSPI,NaN,73100.0,1,300.0,0.41,73000.0,73300.0,72500.0,1219199.0,8.881910e+10,6.015302e+13,8.228867e+08,STK,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-15,093510,엔지브이아이,KONEX,일반기업부,637.0,2,-1.0,-0.16,637.0,638.0,637.0,210.0,1.337750e+05,3.834740e+09,6.020000e+06,KNX,2565
2021-07-15,242350,피엔아이컴퍼니,KONEX,일반기업부,797.0,1,14.0,1.79,799.0,799.0,790.0,1169.0,9.247630e+05,3.794931e+09,4.761520e+06,KNX,2566
2021-07-15,215050,비엔디생활건강,KONEX,일반기업부,1730.0,1,45.0,2.67,1685.0,1840.0,1555.0,1033.0,1.646115e+06,3.670482e+09,2.121666e+06,KNX,2567
2021-07-15,245450,씨앤에스링크,KONEX,일반기업부,2290.0,3,0.0,0.00,2290.0,2290.0,2290.0,1.0,2.290000e+03,3.618108e+09,1.579960e+06,KNX,2568
2021-07-15,267810,앙츠,KONEX,일반기업부,1600.0,1,110.0,7.38,1650.0,1650.0,1550.0,5391.0,8.381780e+06,2.475200e+09,1.547000e+06,KNX,2570

In [10]:
codes = basic['code'].unique()
len(codes)

1733

In [24]:
data = list()
for code in codes:
    mc = m[m['Code'] == code]
    bc = basic[basic['code'] == code]
    try:
        data.append([code, mc['Name'].iloc[0], mc['Marcap'].iloc[0], bc['assets'].iloc[0], bc['liabilities'].iloc[0], bc['equity'].iloc[0]])
    except:
        pass

In [25]:
df = pd.DataFrame(data, columns = ['Code', 'Name', 'Marcap', 'Assets', 'Liabilities', 'Equity'])
df

,Code,Name,Marcap,Assets,Liabilities,Equity
0,095570,AJ네트웍스,2.902982e+11,1574355448723,1286562699853,287792748870
1,006840,AK홀딩스,3.855040e+11,4197422025806,3015052766615,1182369259191
2,054620,APS홀딩스,3.670960e+11,274988067013,107452995977,167535071036
3,265520,AP시스템,4.445430e+11,394328577368,244163437621,150165139747
4,027410,BGF,6.058873e+11,1662679703034,127092776980,1535586926054
...,...,...,...,...,...,...
1650,069260,휴켐스,9.769983e+11,895450639000,221662293062,673788345938
1651,010240,흥국,1.423271e+11,118611338538,41323945028,77287393510
1652,189980,흥국에프엔비,1.681356e+11,96452991462,26238879519,70214111943
1653,037440,희림,9.982415e+10,166235344982,108805390993,57429953989
1654,238490,힘스,1.295251e+11,90702216384,16797964698,73904251686

In [28]:
df['P/E'] = df["Marcap"] / df["Equity"]
df

,Code,Name,Marcap,Assets,Liabilities,Equity,P/E
0,095570,AJ네트웍스,2.902982e+11,1574355448723,1286562699853,287792748870,1.008706
1,006840,AK홀딩스,3.855040e+11,4197422025806,3015052766615,1182369259191,0.326044
2,054620,APS홀딩스,3.670960e+11,274988067013,107452995977,167535071036,2.191159
3,265520,AP시스템,4.445430e+11,394328577368,244163437621,150165139747,2.960361
4,027410,BGF,6.058873e+11,1662679703034,127092776980,1535586926054,0.394564
...,...,...,...,...,...,...,...
1650,069260,휴켐스,9.769983e+11,895450639000,221662293062,673788345938,1.450008
1651,010240,흥국,1.423271e+11,118611338538,41323945028,77287393510,1.841531
1652,189980,흥국에프엔비,1.681356e+11,96452991462,26238879519,70214111943,2.394613
1653,037440,희림,9.982415e+10,166235344982,108805390993,57429953989,1.738190
1654,238490,힘스,1.295251e+11,90702216384,16797964698,73904251686,1.752607

In [29]:
df.sort_values(['P/E'], ascending=[True]).to_csv('PE.csv')

In [31]:
df.sort_values(['P/E'], ascending=[True])

,Code,Name,Marcap,Assets,Liabilities,Equity,P/E
1576,000880,한화,2.297485e+12,192837615000000,173845776000000,18991839000000,0.120972
246,005720,넥센,2.789641e+11,4171079851554,2103785863455,2067293988099,0.134942
687,058650,세아홀딩스,4.140000e+11,5101611887588,2351631897928,2749979989660,0.150547
282,032190,다우데이타,5.859900e+11,39655414460029,35942810391445,3712604068584,0.157838
37,012630,HDC,7.826165e+11,9969843732537,5576408276819,4393435455718,0.178133
...,...,...,...,...,...,...,...
1539,020000,한섬,1.011062e+12,1442168073970,293606584320,0,inf
83,037560,LG헬로비전,6.304175e+11,1453685409583,822077841313,0,inf
148,317240,TS트릴리온,1.179538e+11,41292021880,21225486919,0,inf
1599,069960,현대백화점,1.954104e+12,9062363387000,4018721012000,0,inf
1230,082270,젬백스,8.695876e+11,159138395676,17612792258,0,inf